<h1>SRE Devlog</h1>

<% @articles.each do |article| %>
  <article>
    <h2><%= link_to article.title, article_path(article.slug) %></h2>
    <time><%= article.published_at.strftime("%Y-%m-%d") %></time>
    <p><%= truncate(strip_tags(article.body), length: 100) %></p>
  </article>
<% end %>
