<article>
  <h1><%= @article.title %></h1>
  <time><%= @article.published_at.strftime("%Y-%m-%d") %></time>

  <div>
    <%= raw(@article.body) %>
  </div>

  <p><%= link_to "← 記事一覧に戻る", root_path %></p>
</article>
